.bg-bluedarck {
    background-color: rgb(5, 29, 47);
}
.bg-arena {
    background-color: rgb(248, 199, 119);
}
.bg-greensilver {
    background-color: rgb(106, 117, 112);
}
.bg-gradient-1 {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
.color-white {
    color: white;
}