@import './devices';
.grids {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.gap-1 {
    gap: 1em;
}
.gap-2 {
    gap: 2em;
}
.cols-1 {
    grid-template-columns: repeat(1, 1fr);
}
.cols-2 {
    grid-template-columns: repeat(2, 1fr);
}
.cols-x-1-x2 {
    @include tablet {
        grid-template-columns: repeat(1, 1fr);
    }
    @include desktop {
        grid-template-columns: repeat(1, 1fr 2fr);
    }
}
.cols-3 {
    grid-template-columns: repeat(3, 1fr);
}