@import './devices';
.display-flex {
    display: flex;
}
.flex-grow {
    flex-grow: 2;
}
.justify-center {
    justify-items: center;
}
.space-around {
    justify-content: space-around;
}
.items-start {
    align-items: flex-start;
}
.items-center {
    align-items: center;
}
.grids {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.gap-1 {
    gap: 1em;
}
.gap-2 {
    gap: 2em;
}
.gap-3 {
    gap: 3em;
}
.cols-22 {
    grid-template-columns: repeat(22, max-content);
}
.grid-product {
    width: 100%;
}
.grid-cols-x2 {
    grid-template-columns: repeat(2, 1fr);
}
.grid-cols-x3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid-cols-x4 {
    grid-template-columns: repeat(4, 1fr);
}
.cols-x-1-x2x {
    grid-template-columns: repeat(1, 1fr);
    @include tablet {
        grid-template-columns: repeat(1, 1fr 2fr);
    }
}
.cols-x-1-x2x-x3 {
    grid-template-columns: repeat(1, 1fr);
    @include tablet {
        grid-template-columns: repeat(1, 1fr 2fr 1fr);
    }
}
.grid-x1-x3 {
    grid-template-columns: repeat(1, 1fr);
    @include tablet {
        grid-template-columns: repeat(3, 1fr);
    }
}